#root {
  --primary-box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  --primary-bg: rgb(255, 255, 255);
  --gray: rgb(207, 207, 207);
  --zomato-red: #ff7e8b;
  --zomato-gray: #828282;
  --border-white: rgb(232, 232, 232);
  --inactive-color: #f8f8f8;
  --inactive-text: #696969;
}
